.lista-suspensa label{
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.lista-suspensa select{
    border: none;
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.09);
    width: 100%;
    font-size: 20px;
    padding: 24px;
    box-sizing: border-box;
}